<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django and HTMX - WebSockets</title>
    
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>

    <!-- Tailwind and Tailwind-Elements -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/extensions/ws.js"></script>
    {% block head %}

    {% endblock %}
</head>

<body id="ws-container"
       hx-ext="ws"
       ws-connect="/ws/notifications/org/{{ organizations.0.0 }}/project/{{ projects.0.0 }}/">

<div class="user-selection-container mt-4">
      <label for="tenancy-org-select">Choose an Organization:</label>
      <select id="tenancy-org-select" name="selectedOrganization">
          {% for id, slug in organizations %}
              <option value="{{ id }}">
                  {{ slug|truncatechars:5 }}
              </option>
          {% endfor %}
      </select>
  </div>

  <div class="user-selection-container mt-4">
      <label for="tenancy-project-select">Choose a Project:</label>
      <select id="tenancy-project-select" name="selectedProject">
          {% for id, name in projects %}
              <option value="{{ id }}">
                  {{ name }}
              </option>
          {% endfor %}
      </select>
  </div>

    {% include 'navbar.html' %}
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const orgSelect = document.getElementById("tenancy-org-select");
            const projectSelect = document.getElementById("tenancy-project-select");
            const wsContainer = document.getElementById("ws-container");

            function updateWebSocketRoom() {
                const newWsPath = `/ws/notifications/org/${orgSelect.value}/project/${projectSelect.value}/`;
                console.log('Switching to new ws path:', newWsPath);

                // Update the ws-connect attribute
                wsContainer.setAttribute("ws-connect", newWsPath);

                // htmx doesn't automatically re-init on attribute change, so you manually trigger it
                htmx.process(wsContainer);
            }

            orgSelect.addEventListener("change", updateWebSocketRoom);
            projectSelect.addEventListener("change", updateWebSocketRoom);
        });


        let numberSpan = document.getElementById('notification-number');

        document.body.addEventListener('htmx:wsAfterMessage', (e) => {
            let numberOfNotifications = numberSpan.innerHTML;
            if (!numberOfNotifications) {
                numberSpan.innerHTML = 1;
            } else {
                numberSpan.innerHTML = parseInt(numberOfNotifications) + 1;
            }
        });

        let clearBtn = document.getElementById('clear-btn');

        clearBtn.addEventListener('click', (e) => {
            let dropdown = document.getElementById('notification-dropdown');
            let notifications = dropdown.querySelectorAll('div')
            notifications.forEach(notification => notification.remove())
            numberSpan.innerHTML = ''
        });
    </script>
</body>
</html>